<ion-header>
  <ion-toolbar>
    <ion-title>Café da Manhã</ion-title>
  </ion-toolbar>

  <ion-searchbar></ion-searchbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pão de Forma</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Chocolate Quente</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Chá</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Leite</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Bolo de Chocolate</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Café</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Torrada</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Pão de Queijo</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Bauru</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Suco de Laranja</ion-label>
    <ion-checkbox color="light" checked slot="start"></ion-checkbox>
  </ion-item>
  <ion-button expand="full" color="success" (click)="goToHome()">Salvar</ion-button>
  <ion-button expand="full" color="medium" (click)="goToHome()">Voltar</ion-button>
</ion-content>